.main-container {
	padding-top: 20px;
}

.left-column {
	text-align: center;
}

.right-column {
	text-align: left;
	padding-left: 10px;
}

.left-column .select-records {
	width: 180px;
	height: 400px;
}

select option {
    color: #444444;
    font-size: 20px;
}

.left-column select {
    background-color: #DADFE3;
    text-align: center;
}

.right-column .input-label {
	width: 80px;
	text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.right-column .input-value {
	width: 115px;
	text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.right-column .btn {
	width: 95px;
	margin-top: 10px;
    font-size: 12px;
}