.wsr-infoBox-title {
	margin-top: 30px;
	font-size: 30px;
	border-bottom: 1px solid #360568;
}

.wsr-infoBox-content {
	margin-top: 15px;
	font-size: 15px;
	display: none;
}

.wsr-infoBox-title .glyphicon {
	font-size: 25px;
}